*.pyc
*.pyo
/addresses.db
.idea/
python
/addresses-BTC.db
venv/
HashCheck.txt
bitcoinlib/.coveragerc
wallet.aes.json
test.txt
tokenlist.txt
seeds.txt
btcrecover-tokens-auto.txt
site/
runtime/possible_passwords.log
passwordlist.txt

# Python
__pycache__/
db.sqlite3

# Django
*.log
/media/
/staticfiles/

# Virtual Environment
.venv/
env/

# PyCharm

# OS
.DS_Store
Thumbs.db

# Docs
docs/

runtime/
