# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Python environments
.venv/
venv/
env/

# Django
*.log
*.db
db.sqlite3
/media/
staticfiles/
site/

# IDEs and editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docs
docs/

# Logs and outputs
runtime/*.log
runtime/*.txt
!runtime/.gitkeep

# Project-specific files
/addresses.db
/addresses-BTC.db
wallet.aes.json
HashCheck.txt
bitcoinlib/.coveragerc
test.txt
tokenlist.txt
seeds.txt
btcrecover-tokens-auto.txt
passwordlist.txt

# Temporary directories or placeholder folders
runtime/

# Bytecode and temp files
*.bak
